<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<web-app>
  <servlet>
  <servlet-name>Work</servlet-name>
  <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Work</servlet-name>
  <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <context-param>
  <param-name>contextConfigLocation</param-name>
  <param-value>/WEB-INF/Work-servlet.xml</param-value>
  </context-param>
  
  <listener>
  <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
</web-app>